package/__pycache__/__init__.cpython-37.pyc
package/optim/__pycache__/adam.cpython-37.pyc
package/__pycache__/celoss.cpython-37.pyc
package/__pycache__/net.cpython-37.pyc
package/__pycache__/parameter.cpython-37.pyc
package/layers/__pycache__/__init__.cpython-37.pyc
package/layers/__pycache__/activation.cpython-37.pyc
package/layers/__pycache__/batchnorm.cpython-37.pyc
package/layers/__pycache__/conv.cpython-37.pyc
package/layers/__pycache__/dropout.cpython-37.pyc
package/layers/__pycache__/layer.cpython-37.pyc
package/layers/__pycache__/linear.cpython-37.pyc
package/layers/__pycache__/maxpool.cpython-37.pyc
package/layers/__pycache__/reflectionpad.cpython-37.pyc
package/layers/__pycache__/transform.cpython-37.pyc
package/layers/__pycache__/unsample.cpython-37.pyc
package/optim/__pycache__/__init__.cpython-37.pyc
package/optim/__pycache__/momentum.cpython-37.pyc
package/optim/__pycache__/rmsprop.cpython-37.pyc
package/optim/__pycache__/sgd.cpython-37.pyc
MNIST/testset.npz
MNIST/trainset.npz
MNIST/param.npz
package/__pycache__/mseloss.cpython-37.pyc
.vscode/.ropeproject/objectdb
.vscode/.ropeproject/config.py
.vscode/launch.json
.vscode/settings.json
package/layers/__pycache__/meanpool.cpython-37.pyc
package/layers/__pycache__/edgepad.cpython-37.pyc
